#ignore data files
data/
BAZ2BA-x481/
*.ccp4
training_data_paths/
coot-backup/
panddascore.egg-info/
training_results/
*.idea
*.ipynb_checkpoints
*.pkl
*.pbs.*
*coot-history*
score_examples/
__pycache__/
